<section>
  <footer>
    <div class="footer-container container">
    <div class="subscribe">
      <a class="logo logo-footer" href="#">
        <svg class="logo-icon" width="84" height="36">
          <use href="../img/icons.svg#icon-company-logo"></use>
        </svg>
      </a>
      <p class="subscribe-text">
        Subscribe to our newsletter for the latest updates on our yoga courses
        and events.
      </p>
      <div class="containe-email">
      <input class="your-email" 
      type="email" 
      placeholder="Your Email" 
      pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
      required/>
      </div>
      <button class="btn-footer" type="submit">Join</button>
      <p class="text-footer">By subscribing, you consent to our Privacy Policy and agree to receive updates.</p>
    </div>

    <div class="links">
      <p class="quick-links">Quick Links</p>
      <ul class="quick-links-list">
        <li class="quick-links-item">
          <a class="links-quick" href="#yoga-classes">Yoga Classes</a>
        </li>
        <li class="quick-links-item">
          <a class="links-quick" href="#team">Team</a>
        </li>
        <li class="quick-links-item">
          <a class="links-quick" href="#pricing">Pricing</a>
        </li>
        <li class="quick-links-item">
          <a class="links-quick" href="#footer">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="connect">
      <p class="connect-us">Connect With Us</p>
      <ul class="social">
        <li class="social-list">
          <a class="links-text" href="https://www.facebook.com/" target="_blank">
            <svg class="social-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
            Facebook
          </a>
          </a>
        </li>
        <li class="social-list">
          <a class="links-text" href="https://www.instagram.com/" target="_blank">
            <svg class="social-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
            Instagram
          </a>
        </li>
        <li class="social-list">
          <a class="links-text" href="https://www.linkedin.com/" target="_blank">
            <svg class="social-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-linkedIn"></use>
            </svg>
            LinkedIn
          </a>
        </li>
        <li class="social-list">
          <a class="links-text" href="https://www.youtube.com/" target="_blank">
            <svg class="social-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
            YouTube
          </a>
        </li>
      </ul>
    </div>
    <p class="end-text">&copy; 2025 Yoga Studio. All rights reserved.</p>
</div>  
  </footer>
</section>
