<section class="section gallery">
  <div class="container gallery-container">
    <h2 class="section-title gallery-title">Breathe in the Space</h2>
    <p class="section-text gallery-paragraph">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallary-list">
      <li class="gallery-items">
        <picture class="gallery-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/gallery-desktop-handsup@1x.webp 1x,
              /img/gallery/gallery-desktop-handsup@2x.webp 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/gallery-tab-handsup@1x.webp 1x,
              /img/gallery/gallery-tab-handsup@2x.webp 2x
            "
          />

          <img
            class="gallery-img"
            srcset="
              /img/gallery/gallery-mob-handsup@1x.webp 1x,
              /img/gallery/gallery-mob-handsup@2x.webp 2x
            "
            src="/src/img/gallery/gallery-mob-handsup@1x.webp"
            alt="img yoga handsup"
          />
        </picture>
      </li>
      <li class="gallery-items">
        <picture class="gallery-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/gallery-desktop-lotus1@1x.webp 1x,
              /img/gallery/gallery-desktop-lotus1@2x.webp 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/gallery-tab-lotus1@1x.webp 1x,
              /img/gallery/gallery-tab-lotus1@2x.webp 2x
            "
          />
          <img
            class="gallery-img"
            srcset="
              /img/gallery/gallery-mob-lotus1@1x.webp 1x,
              /img/gallery/gallery-mob-lotus1@2x.webp 2x
            "
            src="/img/gallery/gallery-mob-lotus1@1x.webp"
            alt="img yoga lotus1"
          />
        </picture>
      </li>
      <li class="gallery-items" class="gallery-items">
        <picture class="gallery-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/gallery-desktop-yoga-space@1x.webp 1x,
              /img/gallery/gallery-desktop-yoga-space@2x.webp 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/gallery-tab-yoga-space@1x.webp 1x,
              /img/gallery/gallery-tab-yoga-space@2x.webp 2x
            "
          />

          <img
            class="gallery-img"
            srcset="
              /img/gallery/gallery-mob-yoga-space@1x.webp 1x,
              /img/gallery/gallery-mob-yoga-space@2x.webp 2x
            "
            src="/img/gallery/gallery-mob-yoga-space@1x.webp"
            alt="img yoga space"
          />
        </picture>
      </li>
      <li class="gallery-items">
        <picture class="gallery-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/gallery-desktop-yoga-space-evening@1x.webp 1x,
              /img/gallery/gallery-desktop-yoga-space-evening@2x.webp 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/gallery-tab-yoga-space-evening@1x.webp 1x,
              /img/gallery/gallery-tab-yoga-space-evening@2x.webp 2x
            "
          />

          <img
            class="gallery-img"
            srcset="
              /img/gallery/gallery-mob-yoga-space-evening@1x.webp 1x,
              /img/gallery/gallery-mob-yoga-space-evening@2x.webp 2x
            "
            src="/img/gallery/gallery-mob-yoga-space-evening@1x.webp"
            alt="img yoga space evening"
          />
        </picture>
      </li>
      <li class="gallery-items">
        <picture class="gallery-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/gallery-desktop-lotus2@1x.webp 1x,
              /img/gallery/gallery-desktop-lotus2@2x.webp 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/gallery-tab-lotus2@1x.webp 1x,
              /img/gallery/gallery-tab-lotus2@2x.webp 2x
            "
          />

          <img
            class="gallery-img"
            srcset="
              /img/gallery/gallery-mob-lotus2@1x.webp 1x,
              /img/gallery/gallery-mob-lotus2@2x.webp 2x
            "
            src="/img/gallery/gallery-mob-lotus2@1x.webp"
            alt="img yoga lotus 2"
          />
        </picture>
      </li>
      <li class="gallery-items">
        <picture class="gallery-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/gallery/gallery-desktop-lotus3@1x.webp 1x,
              /img/gallery/gallery-desktop-lotus3@2x.webp 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/gallery/gallery-tab-lotus3@1x.webp 1x,
              /img/gallery/gallery-tab-lotus3@2x.webp 2x
            "
          />

          <img
            class="gallery-img"
            srcset="
              /img/gallery/gallery-mob-lotus3@1x.webp 1x,
              /img/gallery/gallery-mob-lotus3@2x.webp 2x
            "
            src="/img/gallery/gallery-mob-lotus3@1x.webp"
            alt="img yoga lotus 3"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
