<header class="header-page">
    <nav class="container header-container">
        <ul class="header-menu-list">
            <li class="header-menu-item">
                <a class="header-menu-link current" href="#yoga">Yoga Classes</a>
            </li>
            <li class="header-menu-item">
                <a class="header-menu-link" href="#team">Team</a>
            </li>
            <li class="header-menu-item">
                <a class="header-menu-link" href="#testimonials">Testimonials</a>
            </li>
            <li class="header-menu-item">
                <a class="header-menu-link" href="#pricing">Pricing</a>
            </li>
            <li class="header-menu-item">
                <a class="header-menu-link" href="#contacts">Contacts</a>
            </li>
        </ul>
        <button type="button" class="burger-btn" data-backdrop-menu-open>
            <svg class="burger-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-menu"></use>
            </svg>
        </button>
        <a class="logo-link" href="/index.html">
            <svg class="icon-company-logo" width="84" height="36">
                <use href="/img/icons.svg#icon-company-logo"></use>
            </svg>
        </a>
        <div class="link-wrapper header-link-wrapper">
            <a href="#pricing" class="link-button header-btn-mob">
                Join&nbsp;<span class="link-button-text">now</span>
            </a>
        </div>
    </nav>
</header>