<header class="header-page">
    <div class="container header-container">
        <ul class="header-menu-list">
            <li class="header-menu-item"><a class="header-menu-link current" href="">Yoga Classes</a></li>
            <li class="header-menu-item"><a class="header-menu-link" href="">Team</a></li>
            <li class="header-menu-item"><a class="header-menu-link" href="">Testimonials</a></li>
            <li class="header-menu-item"><a class="header-menu-link" href="">Pricing</a></li>
            <li class="header-menu-item"><a class="header-menu-link" href="">Contacts</a></li>
        </ul>
        <button class="burger-btn">
            <svg class="burger-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-menu"></use>
            </svg>
        </button>
        <a class="logo-link" href="../index.html">
            <svg class="icon-company-logo" width="84" height="36">
                <use href="../img/icons.svg#icon-company-logo"></use>
            </svg>
        </a>
        <button class="header-btn-mob button-text">Join</button>
        <button class="header-btn button-text">Join Now</button>
    </div>

</header>