<section class="section hero">
  <picture class="hero-picture">
    <source
      media="(min-width: 1336px)"
      srcset="
        /img/hero/hero-desktop@2x.webp 2x,
        /img/hero/hero-desktop@1x.webp 1x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        /img/hero/hero-tablet@2x.webp 2x,
        /img/hero/hero-tablet@1x.webp 1x
      "
    />
    <img
      class="hero-img"
      srcset="
        /img/hero/hero-mobile@2x.webp 2x,
        /img/hero/hero-mobile@1x.webp 1x
      "
      src="/img/hero/hero-mobile@1x.webp"
      alt="Yoga bloom"
    />
  </picture>

  <div class="container hero-container">
    <h1 class="section-title hero-title">
      Transform Your Life with Our Yoga Classes
    </h1>
    <div class="hero-bundle">
      <p class="section-text hero-text">
        Discover the harmony of mind and body through our expertly designed yoga
        programs. Join a community dedicated to wellness and personal growth.
      </p>
      <div class="hero-buttons">
        <a href="#pricing" class="link-button hero-join-btn">Join&nbsp;Now</a>
        <a href="#gallery" class="link-button-grey hero-learn-btn"
          >Learn&nbsp;More</a
        >
      </div>
    </div>
  </div>
</section>
