<div class="backdrop is-hedden menu" data-backdrop-menu>
    <div class="container menu-container">
        <div class="menu-header">
            <button type="button" class="menu-close-btn" data-backdrop-menu-close>
                <svg class="icon-close" width="24" height="24">
                    <use href="/img/icons.svg#icon-close"></use>
                </svg>
            </button>
            <a class="logo-link" href="/index.html">
                <svg class="icon-company-logo" width="84" height="36">
                    <use href="/img/icons.svg#icon-company-logo"></use>
                </svg>
            </a>
            <div class="link-wrapper menu-header-link-wrapper">
                <a href="#pricing" class="link-button menu-header-link-button">
                    Join&nbsp;<span class="menu-header-link-button-text">now</span>
                </a>
            </div>
        </div>
        <div class="menu-main">
            <nav class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a class="menu-link current" href="#yoga">Yoga Classes</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#team">Team</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#pricing">Pricing</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#contacts">Contacts</a>
                    </li>
                </ul>
            </nav>
            <div class="link-wrapper menu-link-wrapper">
                <a href="#pricing" class="link-button menu-link-button">
                    Join&nbsp;<span class="link-button-text">now</span>
                </a>
            </div>
        </div>
    </div>
</div>