<div class="backdrop is-hidden modal-backdrop" data-backdrop-one-session>
  <div class="modal">
    <button type="button" class="close" data-backdrop-one-session-close>
      <svg class="icon-close" width="24" height="24">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-subtitle">One Session</p>
    <p class="modal-text">$10</p>

    <form class="form-modal">
      <ul class="form-list">
        <li class="form-item">
          <label for="one-session-user-name" class="form-label"
            >Your Name</label
          >
          <input
            class="form-input"
            type="text"
            name="one-session-user-name"
            id="one-session-user-name"
            placeholder="Enter your name"
            required
          />
        </li>
        <li class="form-item">
          <label for="one-session-user-email" class="form-label">Email</label>
          <input
            class="form-input"
            type="email"
            name="one-session-user-email"
            id="one-session-user-email"
            placeholder="Enter your email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <p class="error-text">Enter valid emai</p>
        </li>
        <li class="form-item">
          <label for="one-session-user-phone" class="form-label"
            >Phone number</label
          >
          <input
            class="form-input"
            type="tel"
            name="one-session-user-phone"
            id="one-session-user-phone"
            placeholder="Enter your phone number"
          />
        </li>
      </ul>
      <button class="button check-btn" type="submit">
        Go&nbsp;to&nbsp;checkout
      </button>
    </form>
  </div>
</div>
<!-- MODAL_2 -->
<div class="backdrop is-hidden modal-backdrop" data-backdrop-eight-sessions>
  <div class="modal">
    <button type="button" class="close" data-backdrop-eight-sessions-close>
      <svg class="icon-close" width="24" height="24">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-subtitle">8 Sessions Package</p>
    <p class="modal-text">$65</p>

    <form class="form-modal">
      <ul class="form-list">
        <li class="form-item">
          <label for="eight-sessions-user-name" class="form-label"
            >Your Name</label
          >
          <input
            class="form-input"
            type="text"
            name="eight-sessions-user-name"
            id="eight-sessions-user-name"
            placeholder="Enter your name"
            required
          />
        </li>
        <li class="form-item">
          <label for="eight-sessions-user-email" class="form-label"
            >Email</label
          >
          <input
            class="form-input"
            type="email"
            name="eight-sessions-user-email"
            id="eight-sessions-user-email"
            placeholder="Enter your email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <p class="error-text">Enter valid email</p>
        </li>
        <li class="form-item">
          <label for="eight-sessions-user-phone" class="form-label"
            >Phone number</label
          >
          <input
            class="form-input"
            type="tel"
            name="eight-sessions-user-phone"
            id="eight-sessions-user-phone"
            placeholder="Enter your phone number"
          />
        </li>
      </ul>
      <button class="button check-btn" type="submit">
        Go&nbsp;to&nbsp;checkout
      </button>
    </form>
  </div>
</div>
<!-- MODAL-3 -->
<div class="backdrop is-hidden modal-backdrop" data-backdrop-twelve-sessions>
  <div class="modal">
    <button type="button" class="close" data-backdrop-twelve-sessions-close>
      <svg class="icon-close" width="24" height="24">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-subtitle">12 Sessions Package</p>
    <p class="modal-text">$80</p>

    <form class="form-modal">
      <ul class="form-list">
        <li class="form-item">
          <label for="twelve-sessions-user-name" class="form-label"
            >Your Name</label
          >
          <input
            class="form-input"
            type="text"
            name="twelve-sessions-user-name"
            id="twelve-sessions-user-name"
            placeholder="Enter your name"
            required
          />
        </li>
        <li class="form-item">
          <label for="twelve-sessions-user-email" class="form-label"
            >Email</label
          >
          <input
            class="form-input"
            type="email"
            name="twelve-sessions-user-email"
            id="twelve-sessions-user-email"
            placeholder="Enter your email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <p class="error-text">Enter valid emai</p>
        </li>
        <li class="form-item">
          <label for="twelve-sessions-user-phone" class="form-label"
            >Phone number</label
          >
          <input
            class="form-input"
            type="tel"
            name="twelve-sessions-user-phone"
            id="twelve-sessions-user-phone"
            placeholder="Enter your phone number"
          />
        </li>
      </ul>
      <button class="button check-btn" type="submit">
        Go&nbsp;to&nbsp;checkout
      </button>
    </form>
  </div>
</div>
