<div class="backdrop is-open" data-modal>
  <div class="modal">
    <button type="button" class="close">
      <svg class="icon-close" width="8" height="8">
        <use href="../img/sprite.svg#icon-close-black"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">One Session</p>
    <h3 class="modal-sub">$10</h3>
    <form class="form">
      <!-- Имя — всегда на всю ширину -->
      <div class="form-modal">
        <label for="user-name" class="form-label">Your Name</label>
        <div class="content-name">
          <input
            class="text-name"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Placeholder"
          />
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-modal">
          <label for="user-email" class="form-label">Email</label>
          <div class="content-name">
            <input
              class="text-name"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Placeholder"
            />
          </div>
        </div>
        <div class="form-modal">
          <label for="user-phone" class="form-label">Phone number</label>
          <div class="content-name">
            <input
              class="text-name"
              type="tel"
              name="user-phone"
              id="user-phone"
              placeholder="Placeholder"
            />
          </div>
        </div>
      </div>
      <button class="check-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
