<div class="backdrop" data-backdrop-one-session>
  <div class="modal">
    <button type="button" class="close" data-backdrop-one-session-close>
      <svg class="icon-close" width="16" height="16">
        <use href="./images/icons.svg#icon-close-black"></use>
      </svg>
    </button>

    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">One Session</p>
    <h3 class="modal-sub">$10</h3>

    <form class="form">
      <!-- Имя — всегда на всю ширину -->
      <div class="form-modal">
        <label for="user-name" class="form-label">Your Name</label>
        <div class="content-name">
          <input
            class="text-name"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Placeholder"
          />
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-modal">
          <label for="user-email" class="form-label">Email</label>
          <div class="content-name">
            <input
              class="text-name"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Placeholder"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
            <p class="error-text">Error Text</p>
          </div>
        </div>

        <div class="form-modal">
          <label for="user-phone" class="form-label">Phone number</label>
          <div class="content-name">
            <input
              class="text-name"
              type="tel"
              name="user-phone"
              id="user-phone"
              placeholder="Placeholder"
            />
          </div>
        </div>
      </div>

      <button class="check-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
<!-- ецщщщщщщщщщщщщщщщщщщщщщщ -->
<div class="backdrop" data-backdrop-eight-sessions>
  <div class="modal">
    <button type="button" class="close" data-backdrop-eight-sessions-close>
      <svg class="icon-close" width="16" height="16">
        <use href="./images/icons.svg#icon-close-black"></use>
      </svg>
    </button>

    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">8 Sessions Package</p>
    <h3 class="modal-sub">$65</h3>

    <form class="form">
      <!-- Имя — всегда на всю ширину -->
      <div class="form-modal">
        <label for="user-name" class="form-label">Your Name</label>
        <div class="content-name">
          <input
            class="text-name"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Placeholder"
          />
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-modal">
          <label for="user-email" class="form-label">Email</label>
          <div class="content-name">
            <input
              class="text-name"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Placeholder"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
            <p class="error-text">Error Text</p>
          </div>
        </div>

        <div class="form-modal">
          <label for="user-phone" class="form-label">Phone number</label>
          <div class="content-name">
            <input
              class="text-name"
              type="tel"
              name="user-phone"
              id="user-phone"
              placeholder="Placeholder"
            />
          </div>
        </div>
      </div>

      <button class="check-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
<!-- алріівчаишгіар -->
<div class="backdrop" data-backdrop-twelve-sessions>
  <div class="modal">
    <button type="button" class="close" data-backdrop-twelve-sessions-close>
      <svg class="icon-close" width="16" height="16">
        <use href="./images/icons.svg#icon-close-black"></use>
      </svg>
    </button>

    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">12 Sessions Package</p>
    <h3 class="modal-sub">$80</h3>

    <form class="form">
      <!-- Имя — всегда на всю ширину -->
      <div class="form-modal">
        <label for="user-name" class="form-label">Your Name</label>
        <div class="content-name">
          <input
            class="text-name"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Placeholder"
          />
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-modal">
          <label for="user-email" class="form-label">Email</label>
          <div class="content-name">
            <input
              class="text-name"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Placeholder"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            />
            <p class="error-text">Error Text</p>
          </div>
        </div>

        <div class="form-modal">
          <label for="user-phone" class="form-label">Phone number</label>
          <div class="content-name">
            <input
              class="text-name"
              type="tel"
              name="user-phone"
              id="user-phone"
              placeholder="Placeholder"
            />
          </div>
        </div>
      </div>

      <button class="check-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
