<section class="section pricing-section" id="pricing">
  <div class="container pricing-container">
    <p class="section-subtitle pricing-subtitle">Affordable</p>
    <h2 class="section-title pricing-title">Pricing Plans</h2>
    <p class="section-text pricing-text">
      Choose the perfect plan for your yoga journey.
    </p>
    <ul class="pricing-outer-list">
      <li class="pricing-outer-item">
        <p class="pricing-outer-title">One Session</p>
        <p class="pricing-outer-text">$10</p>
        <ul class="pricing-inner-list">
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">1 group session</span>
          </li>
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">
              10% discount for next 2 Sessions
            </span>
          </li>
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">Community support group</span>
          </li>
        </ul>
        <button
          type="button"
          class="button pricing-join-button"
          data-backdrop-one-session-open
        >
          Join
        </button>
      </li>
      <li class="pricing-outer-item">
        <p class="pricing-outer-title">8 Sessions Package</p>
        <p class="pricing-outer-text">$65</p>
        <ul class="pricing-inner-list">
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">6 Group Sessions</span>
          </li>
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">2 Individual Sessions</span>
          </li>
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">Priority customer support</span>
          </li>
        </ul>
        <button
          type="button"
          class="button pricing-join-button"
          data-backdrop-eight-sessions-open
        >
          Join
        </button>
      </li>
      <li class="pricing-outer-item">
        <p class="pricing-outer-title">12 Sessions Package</p>
        <p class="pricing-outer-text">$80</p>
        <ul class="pricing-inner-list">
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">8 Group Sessions</span>
          </li>
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">4 Individual Sessions</span>
          </li>
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">Monthly yoga challenges</span>
          </li>
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">Exclusive member discounts</span>
          </li>
          <li class="pricing-inner-item">
            <svg class="pricing-inner-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
            <span class="pricing-inner-text">Community support group</span>
          </li>
        </ul>
        <button
          type="button"
          class="button pricing-join-button"
          data-backdrop-twelve-sessions-open
        >
          Join
        </button>
      </li>
    </ul>
  </div>
</section>
