<section class="section team">
  <div class="container team-container">
    <p class="section-subtitle team-subtitle">Meet</p>
    <h2 class="section-title team-title">Our Team</h2>
    <p class="section-text team-paragraph">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-outer-list">
      <li class="team-outer-item">
        <picture class="team-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/team/team-desktop-first-2x.webp 2x,
              /img/team/team-desktop-first-1x.webp 1x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/team/team-tablet-first-2x.webp 2x,
              /img/team/team-tablet-first-1x.webp 1x
            "
          />
          <img
            class="team-img"
            srcset="
              /img/team/team-mobile-first-2x.webp 2x,
              /img/team/team-mobile-first-1x.webp 1x
            "
            src="/img/team/team-mobile-first-1x.webp"
            alt="First member"
          />
        </picture>
        <div class="member-info">
          <h3 class="headers">Liam Johnson</h3>
          <p class="post">Yoga Instructor</p>
          <p class="description">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="team-inner-list">
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.linkedin.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.instagram.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-outer-item">
        <picture class="team-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/team/team-desktop-second-2x.webp 2x,
              /img/team/team-desktop-second-1x.webp 1x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/team/team-tablet-second-2x.webp 2x,
              /img/team/team-tablet-second-1x.webp 1x
            "
          />
          <img
            class="team-img"
            srcset="
              /img/team/team-mobile-second-2x.webp 2x,
              /img/team/team-mobile-second-1x.webp 1x
            "
            src="/img/team/team-mobile-second-1x.webp"
            alt="Second member"
          />
        </picture>
        <div class="member-info">
          <h3 class="headers">Emma Stone</h3>
          <p class="post">Meditation Coach</p>
          <p class="description">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-inner-list">
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.linkedin.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-outer-item">
        <picture class="team-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/team/team-desktop-third-2x.webp 2x,
              /img/team/team-desktop-third-1x.webp 1x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/team/team-tablet-third-2x.webp 2x,
              /img/team/team-tablet-third-1x.webp 1x
            "
          />
          <img
            class="team-img"
            srcset="
              /img/team/team-mobile-third-2x.webp 2x,
              /img/team/team-mobile-third-1x.webp 1x
            "
            src="/img/team/team-mobile-third-1x.webp"
            alt="Third member"
          />
        </picture>
        <div class="member-info">
          <h3 class="headers">Sophia Lee</h3>
          <p class="post">Pilates Trainer</p>
          <p class="description">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="team-inner-list">
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.instagram.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-outer-item">
        <picture class="team-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/team/team-desktop-fourth-2x.webp 2x,
              /img/team/team-desktop-fourth-1x.webp 1x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/team/team-tablet-fourth-2x.webp 2x,
              /img/team/team-tablet-fourth-1x.webp 1x
            "
          />
          <img
            class="team-img"
            srcset="
              /img/team/team-mobile-fourth-2x.webp 2x,
              /img/team/team-mobile-fourth-1x.webp 1x
            "
            src="/img/team/team-mobile-fourth-1x.webp"
            alt="Fourth member"
          />
        </picture>
        <div class="member-info">
          <h3 class="headers">Noah Brown</h3>
          <p class="post">Yoga Therapist</p>
          <p class="description">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="team-inner-list">
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.linkedin.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-outer-item">
        <picture class="team-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/team/team-desktop-fifth-2x.webp 2x,
              /img/team/team-desktop-fifth-1x.webp 1x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/team/team-tablet-fifth-2x.webp 2x,
              /img/team/team-tablet-fifth-1x.webp 1x
            "
          />
          <img
            class="team-img"
            srcset="
              /img/team/team-mobile-fifth-2x.webp 2x,
              /img/team/team-mobile-fifth-1x.webp 1x
            "
            src="/img/team/team-mobile-fifth-1x.webp"
            alt="Fifth member"
          />
        </picture>
        <div class="member-info">
          <h3 class="headers">Ava Green</h3>
          <p class="post">Fitness Trainer</p>
          <p class="description">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="team-inner-list">
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.facebook.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.instagram.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.linkedin.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-outer-item">
        <picture class="team-picture">
          <source
            media="(min-width:1336px)"
            srcset="
              /img/team/team-desktop-sixth-2x.webp 2x,
              /img/team/team-desktop-sixth-1x.webp 1x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/team/team-tablet-sixth-2x.webp 2x,
              /img/team/team-tablet-sixth-1x.webp 1x
            "
          />
          <img
            class="team-img"
            srcset="
              /img/team/team-mobile-sixth-2x.webp 2x,
              /img/team/team-mobile-sixth-1x.webp 1x
            "
            src="/img/team/team-mobile-sixth-1x.webp"
            alt="Sixth member"
          />
        </picture>
        <div class="member-info">
          <h3 class="headers">Clark Thomas</h3>
          <p class="post">Fitness Trainer</p>
          <p class="description">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-inner-list">
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.facebook.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-inner-item">
              <a
                class="social-link team-link"
                target="_blank"
                href="https://www.instagram.com/"
              >
                <svg class="social-link-svg" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
