<section class="section section-yoga-classes">
    <div class="container">
    <p class="section-subtitle yoga-classes-subtitle">Explore</p>
    <h2 class="section-title yoga-classes-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="section-text">Join our community and elevate your practice with our expertly designed yoga programs. Each course is tailored to meet
    various skill levels and personal goals.</p>
    <ul class="yoga-classes-nav-list">
<li class="yoga-classes-list-item">
<picture class="yoga-classes-picture">
    <source media="(min-width: 1336px)" srcset="../img/yoga-classes/yoga-classes-desktop-img-1@2x.webp, 
    ../img/yoga-classes/yoga-classes-desktop-img-1@1x.webp" />
    <source media="(min-width: 768px)" srcset="../img/yoga-classes/yoga-classes-tablet-img-1@2x.webp, 
    ../img/yoga-classes/yoga-classes-tablet-img-1@1x.webp" />
    <img class="yoga-classes-img" srcset="../img/yoga-classes/yoga-classes-mobile-img-1@2x.webp, 
    ../img/yoga-classes/yoga-classes-mobile-img-1@1x.webp" 
    src="../img/yoga-classes/yoga-classes-mobile-img-1@1x.webp" alt="Yoga people" />
</picture>
<h3 class="yoga-classes-item-title">Beginner Yoga: Foundations for New Practitioners</h3>
<p class="section-text">Learn the basics of yoga in a supportive environment.</p>
</li>

<li class="yoga-classes-list-item">
<picture class="yoga-classes-picture">
    <source media="(min-width: 1336px)" srcset="../img/yoga-classes/yoga-classes-desktop-img-2@2x.webp, 
    ../img/yoga-classes/yoga-classes-desktop-img-2@1x.webp" />
    <source media="(min-width: 768px)" srcset="../img/yoga-classes/yoga-classes-tablet-img-2@2x.webp, 
    ../img/yoga-classes/yoga-classes-tablet-img-2@1x.webp" />
    <img class="yoga-classes-img" srcset="../img/yoga-classes/yoga-classes-mobile-img-2@2x.webp, 
    ../img/yoga-classes/yoga-classes-mobile-img-2@1x.webp" 
    src="../img/yoga-classes/yoga-classes-mobile-img-2@1x.webp" alt="Woman meditating" />
</picture>
<h3 class="yoga-classes-item-title">Beginner Yoga: Foundations for New Practitioners</h3>
<p class="section-text">Experience a dynamic sequence that connects breath and movement.</p>
</li>

<li class="yoga-classes-list-item">
<picture class="yoga-classes-picture">
    <source media="(min-width: 1336px)" srcset="../img/yoga-classes/yoga-classes-desktop-img-3@2x.webp, 
    ../img/yoga-classes/yoga-classes-desktop-img-3@1x.webp" />
    <source media="(min-width: 768px)" srcset="../img/yoga-classes/yoga-classes-tablet-img-3@2x.webp, 
    ../img/yoga-classes/yoga-classes-tablet-img-3@1x.webp" />
    <img class="yoga-classes-img" srcset="../img/yoga-classes/yoga-classes-mobile-img-3@2x.webp, 
    ../img/yoga-classes/yoga-classes-mobile-img-3@1x.webp" 
    src="../img/yoga-classes/yoga-classes-mobile-img-3@1x.webp" alt="Yoga pose " />
</picture>
<h3 class="yoga-classes-item-title">Restorative Yoga: Deep Relaxation and Healing</h3>
<p class="section-text">Unwind and rejuvenate with gentle poses and mindfulness.</p>
</li>

    </ul>
    <div class="btn-wrapper">
        <a href="#pricing" class="btn join-now-btn"><span class="text-join">Join</span>&nbsp;<span
            class="text-join-now">now</span>
    </a>
</div>
  
    </div>
</section>