/*#region ===== About us styles ===== */
.about-us{
    background-color: #dfebeb;
}
.about-us-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 48px;
}

.about-us-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
}
.about-us-item {
    width: 100%;
}

.about-us-item-title {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 24px;
}

.link-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin: 0 auto;
}

.link-button {
    display: inline-block;
    padding: 10px 24px;
    border: 1px solid #c2d9fc;
    background-color: #c2d9fc;
    border-radius: 100px;
    width: 343px;
    height: 46px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
   .about-us{
background-color: #f2fafa;
    }
    .about-us-item {
        width: calc((100% - 24px) / 2);
    }
    .link-wrapper {
        padding: 10px 24px;
        width: 110px;
        height: 46px;
        display: flex;
        justify-content: center;

    }
}
@media screen and (min-width: 1336px) {
 
    .about-us-item {
        width: calc((100% - 72px) / 4);
    }
    .about-us-item-title {
    
        font-weight: 500;
        font-size: 20px;
    }
}
/*#endregion ===== About us styles ===== */