.subscribe-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  width: 279px;
  padding-bottom: 20px;
}
.your-email {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  width: 279px;
  height: 42px;
  background: rgba(13, 11, 10, 0.05);
}
.btn-footer {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 10px 24px;
  height: 46px;
  background: rgba(13, 11, 10, 0.05);
  width: 100%;
}
.text-footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #0d0b0a;
}
.quick-links {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
}
.footer-container {
  background-color: #fff;
  width: 343px;
  height: 918px;
  border: 0px solid rgba(13, 11, 10, 0.15);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px 32px;
}
.links-quick {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #0d0b0a;
}
.connect-us {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
}
.links-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #0d0b0a;
}
.end-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #0d0b0a;
}

.subscribe {
  width: 279px;
  height: 308px;
}

.connect {
  width: 279px;
  height: 190px;
}

.links {
  width: 279px;
  height: 190px;
}

.connect,
.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.social-list,
.quick-links-item {
  padding-bottom: 8px;
}
.social-list:last-child,
.quick-links-item:last-child {
  padding: 0;
}
.links-text {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.desktop {
  display: none;
}

.email-input {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}
.your-email:not(:placeholder-shown):invalid {
  border-color: red;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 704px;
    height: 571px;
  }
  .subscribe {
    width: 640px;
    height: 187px;
  }
  .subscribe-text {
    width: 640px;
  }
  .email-input {
    flex-wrap: initial;
  }
  .your-email {
    width: 546px;
  }
  .btn-footer {
    width: 78px;
  }
  .footer-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1336px) {
  .footer-container {
    width: 1312px;
    height: 329px;
    flex-wrap: wrap;
    gap: 250px;
  }
  .desktop {
    display: contents;
  }
  .end-text {
    display: none;
  }
  .your-email {
    width: 501px;
  }
  .links,
  .connect {
    width: 166px;
  }
  .text-footer {
    padding-bottom: 24px;
  }
}
