/*#region ===== Header styles ===== */


.header-menu-list,
.header-btn {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
}

.burger-btn {
    padding: 0;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn-mob {
    padding: 4px 20px;
    width: 74px;
    height: 34px;
}

@media screen and (min-width: 768px) {
    .header-btn-mob {
        display: none;
    }

    .header-btn {
        display: inline-block;
        padding: 8px 20px;
        min-width: 105px;
        height: 42px;
    }
}

@media screen and (min-width: 1336px) {
    .burger-btn {
        display: none;
    }

    .header-menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .header-menu-link {
        display: block;
        line-height: 1.6;
        color: #0d0b0a;
        padding-bottom: 4px;
    }

    .header-menu-link.current {
        position: relative;
    }

    .header-menu-link.current::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(13, 11, 10, 0.5);
    }
}

.menu {
    background-color: #f2fafa;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.munu-container {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;

}

.header-menu-list-menu {
    padding-top: 16px;

}

.header-menu-item-menu:not(:last-child) {
    margin-bottom: 24px;
}


/*#endregion ===== Header styles ===== */