.modal-backdrop {
  background-color: #dfebeb;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 375px;
  min-height: 100%;
  background-color: #dfebeb;
  padding: 64px 16px;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: opacity 250ms ease-in-out;
}

.close-icon {
  fill: #0d0b0a;
}

.close:hover,
.close:focus {
  opacity: 0.5;
}

.close:active {
  opacity: 0.3;
}

.modal-title {
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.modal-subtitle {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 8px;
}

.modal-text {
  font-family: 'Cabin', sans-serif;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 24px;
}

.form-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 24px;
}

.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-label {
  line-height: 1.6;
}

.content-name {
  position: relative;
}

.form-input {
  width: 100%;
  height: 42px;
  background-color: rgba(13, 11, 10, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  color: rgba(13, 11, 10, 0.6);
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.form-input::placeholder {
  transition: opacity 250ms ease-in-out;
}

.form-input:focus::placeholder {
  opacity: 0;
}

.form-input:not(:placeholder-shown) {
  color: #0d0b0a;
}

.form-input:not(:placeholder-shown):invalid {
  border-color: #b10000;
  color: #b10000;
}

.form-input:not(:placeholder-shown):invalid + .error-text {
  display: block;
}

.error-text {
  display: none;
  margin-top: 6px;
  font-size: 14px;
  color: #b10000;
}

.check-btn {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .modal {
    border-radius: 16px;
    padding: 64px 92px;
    max-width: 704px;
    min-height: 573px;
  }

  .modal-title {
    font-size: 52px;
    margin-bottom: 24px;
  }

  .modal-subtitle {
    font-size: 22px;
  }

  .modal-text {
    font-size: 36px;
    line-height: 1.4;
  }

  .form-item:not(:first-child) {
    width: calc((100% - 24px) / 2);
  }

  .text-name {
    width: 100%;
  }

  .check-btn {
    width: 155px;
  }
}

@media screen and (min-width: 1336px) {
  .modal {
    padding: 64px 64px;
    max-width: 768px;
  }
}
