/*#region ===== Team styles ===== */
.team-outer-list {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.team-outer-item {
  width: 100%;
}

.team-img {
  margin-bottom: 20px;
}

.headers {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.post,
.description {
  line-height: 1.6;
  text-align: center;
}

.post {
  margin-bottom: 12px;
}

.description {
  margin-bottom: 20px;
}

.team-inner-list {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.team-link {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .section-title.team-title {
    font-size: 52px;
  }
  .team-outer-list {
    gap: 24px 24px;
  }
  .team-outer-item {
    width: calc((100% - 24px) / 2);
  }
  .team-img {
    margin-bottom: 24px;
  }
  .headers {
    font-size: 22px;
  }
  .post {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .description {
    margin-bottom: 24px;
  }
}

@media (min-width: 1336px) {
  .team-outer-list {
    gap: 67px 24px;
  }
  .team-outer-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

/*#endregion ===== Team styles ===== */
