.section-yoga-classes {
    background: #dfebeb;
}
.yoga-classes-nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.yoga-classes-list-item {
    width: 100%;
    max-width: 343px;
    margin: 0 auto;
}

.yoga-classes-img {
    margin-bottom: 24px;
    display: block;
       
    }
.yoga-classes-item-title {
    font-family: "Cabin", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 0.01em;
        text-align: center;
        color: #0d0b0a;
        margin-bottom: 20px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c2d9fc;
        border-radius: 100px;
        padding: 10px 24px;
        width: 100%;
        max-width: 343px;
        height: 46px;
        background: #c2d9fc;
        cursor: pointer;

        font-family: "Sarabun", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            color: #0d0b0a;
            margin: 0 auto;
}
.text-join-now {
    display: none;
}
@media (min-width: 768px) {
    .yoga-classes-nav-list {
            column-gap: 24px;
            justify-content: center;
        }
    
        .yoga-classes-list-item {
            width: calc((100% - 24px) / 2);
    
        }
    
        .yoga-classes-list-item:nth-child(1) {
            margin-bottom: 61px;
        }
    
        .yoga-classes-list-item:nth-child(2) {
            margin-bottom: 27px;
        }
    
        .yoga-classes-list-item:nth-child(3) {
            width: 100%;
            max-width: 100%;
        }
    
        .btn-wrapper {
            display: flex;
            justify-content: center;
    
        }
    .text-join-now {
        display: inline;
    }
    .btn {
        
            width: 110px;
            height: 46px;
    }
}

@media (min-width: 1158px) {
    .yoga-classes-nav-list {
        
        gap: 24px;
    }
    .yoga-classes-list-item {
        width: calc((100% - 48px) / 3);
        margin-bottom: 0;
    }
}